#contestContainer{background: white;font-family: verdana, arial, sans-serif !important;}
.clearfix50{height: 0px !important;}

.textbox h2{font-family: verdana, arial, sans-serif !important;font-size: 1.6em !important;font-weight: 800;padding-bottom: 5px;}
.textbox p{font-family: verdana, arial, sans-serif !important;padding-bottom: 5px;}