$max-width:640px;
$block-width:610px;
$full-width:100%;
$content-background:#f5f5f5;
$proxima-semibold:'Proxima Nova Semibold','Montserrat',Segoe UI;
$proxima-light:'Proxima Nova Light','Montserrat',Segoe UI;
$baskerville:Baskerville,'Libre Baskerville';