  %%[ IF IndexOf(Language,"fr") == 1 THEN SET @Subject = "Créez des moments en famille"]%%

<!-- Begining of FR Body -->
<tr>
	<td align="center" style="font-family: Arial,Verdana; font-size: 20px; color: #666;"><a href="https://www.deserres.ca/fr/fete-des-meres?utm_medium=email&utm_source=infolettre-deserres&utm_campaign=6mai2017" target="_blank"><img class="img-responsive deviceWidth" src="http://image.communications.deserres.ca/lib/fe8f13727263037f75/m/2/hero_05_06_01_fr.jpg" alt="Créez des souvenirs qui feront le bonheur de toute la famille !" width="100%" border="0" style="text-decoration: none; max-width:100% !important; width:100%; height:auto; display:block;" /></a></td>
</tr>
<tr>
	<td align="left" style="font-family: Arial,Verdana; color: #2d4874; font-size:23px; line-height:34px; text-align:center; font-weight:bold;">C’est la fête des Mères : rassemblez vos tout-petits autour d’un projet de peinture inoubliable.<br />
	</td>
</tr>
<tr>
	<td height="40">&nbsp;</td>
</tr>
<tr>
	<td>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
			<table width="300" border="0" cellspacing="0" cellpadding="0" align="left" class="full">
				<tr>
					<td align="center"><a href="https://www.deserres.ca/fr/paint-a-coffee-mug/?utm_medium=email&utm_source=infolettre-deserres&utm_campaign=6mai2017" target="_blank"><img src="http://image.communications.deserres.ca/lib/fe8f13727263037f75/m/2/hero_05_06_03.jpg" width="100%" alt="" border="0" style="max-width:100% !important; width:100%; height:auto; display:block;" /></a></td>
				</tr>
			</table>
			<table width="240" border="0" cellspacing="0" cellpadding="0" align="right" class="full">
				<tr>
					<td class="paddings">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td align="center" valign="top" height="25" >&nbsp;
						</tr>
						<tr>
							<td style="font-family: open sans, Arial,Verdana; font-size: 18px; line-height:22px; color: #333333; border-collapse: collapse;" align="center" valign="top">
							Personnalisez une tasse pour égayez chaque matin d’un magnifique souvenir !
                            <br /><br /><strong>Voici comment :</strong>

						</tr>
						<tr>
							<td height="18" style="font-size:0px; line-height:0px;">&nbsp;
						</tr>
				
						<tr>
							<td height="24">&nbsp;
						</tr>
						<tr>
							<td align="center" valign="top" height="15" style="font-size:0px; line-height:0px;"><a href="https://www.deserres.ca/fr/paint-a-coffee-mug/?utm_medium=email&utm_source=infolettre-deserres&utm_campaign=6mai2017" target="_blank"><img src="http://image.communications.deserres.ca/lib/fe8f13727263037f75/m/2/etape_mai_06.jpg
							" width="236" height="26" alt="Step By Step" border="0" style="display:block;outline: none;text-decoration: none;" /></a>
						</tr>
					</table>
					</td>
				</tr>
			</table>
			</td>
			<td width="34" class="hide">&nbsp;</td>
		</tr>
	</table>
	</td>
</tr>
<tr>
	<td height="50">&nbsp;</td>
</tr>
<tr>
	<td align="left" style="font-family: Arial,Verdana; color: #2d4874; font-size:23px; line-height:34px; text-align:center; font-weight:bold;">Ce qu’il vous faut :
	</td>
</tr>
<tr>
	<td height="19" style="font-size:0px; line-height:0px;">&nbsp;</td>
</tr>
<tr>
	<td>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="33" class="sides">&nbsp;</td>
			<td>
			<table width="249" border="0" cellspacing="0" cellpadding="0" align="left" class="block">
				<tr>
					<td>
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><a href="https://www.deserres.ca/fr/pppor/?utm_medium=email&utm_source=infolettre-deserres&utm_campaign=6mai2017" target="_blank"><img src="http://image.communications.deserres.ca/lib/fe8f13727263037f75/m/2/promo_05_06_01.jpg
							" width="100%" alt="" border="0" style="max-width:100% !important; width:100%; height:auto; display:block;" /></a></td>
						</tr>
						<tr>
							<td style="font-family: open sans, Arial,Verdana; font-size: 18px; line-height:21px; color: #000000; font-weight:bold; padding-bottom:16px;" align="center" valign="top">
							Peinture pour porcelaine   <br />
							Pébéo 150<br />
							<span style="font-family:  open sans, Arial,Verdana; font-size: 18px; line-height:21px; color: #ed2128; border-collapse: collapse; font-weight:bold;">6,79 $</span>  
							</td>	
						</tr>
						<tr>
							<td align="center" valign="top"><a href="https://www.deserres.ca/fr/pppor/?utm_medium=email&utm_source=infolettre-deserres&utm_campaign=6mai2017" target="_blank"><img src="http://image.communications.deserres.ca/lib/fe8f13727263037f75/m/2/achetez_mai_06.jpg
							" width="150" height="26" alt="Shop Now" border="0" style="display:block; text-decoration: none;" /></a></td>
						</tr>
					</table>
					</td>
				</tr>
			</table>
			<table width="249" border="0" cellspacing="0" cellpadding="0" align="right" class="block">
				<tr>
					<td class="padding_topx">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><a href="https://www.deserres.ca/fr/green-masking-tape-low-tack-1in/?utm_medium=email&utm_source=infolettre-deserres&utm_campaign=6mai2017" target="_blank"><img src="http://image.communications.deserres.ca/lib/fe8f13727263037f75/m/2/promo_05_06_02.jpg
							" width="100%" alt="" border="0" style="max-width:100% !important; width:100%; height:auto; display:block;" /></a></td>
						</tr>
						<tr>
							<td style="font-family: open sans, Arial,Verdana; font-size: 18px; line-height:21px; color: #000000; font-weight:bold; padding-bottom:16px;" align="center" valign="top">
							Ruban-cache vert  <br />
							à faible adhérence – 1 po<br>
							<span style="font-family:  open sans, Arial,Verdana; font-size: 18px; line-height:21px; color: #ed2128; border-collapse: collapse; font-weight:bold;">4,99 $</span>
                            </td>							
						</tr>
						<tr>
							<td align="center" valign="top"><a href="https://www.deserres.ca/fr/green-masking-tape-low-tack-1in/?utm_medium=email&utm_source=infolettre-deserres&utm_campaign=6mai2017" target="_blank"><img src="http://image.communications.deserres.ca/lib/fe8f13727263037f75/m/2/achetez_mai_06.jpg" width="150" height="26" alt="Shop Now" border="0" style="display:block; text-decoration: none;" /></a></td>
						</tr>
					</table>
					</td>
				</tr>
			</table>
			</td>
			<td width="33" class="sides">&nbsp;</td>
		</tr>
	</table>
	</td>
</tr>
<tr>
	<td height="50">&nbsp;</td>
</tr>
<tr>
	<td>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="33" class="sides">&nbsp;</td>
			<td>
			<table width="249" border="0" cellspacing="0" cellpadding="0" align="left" class="block">
				<tr>
					<td>
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><a href="https://www.deserres.ca/fr/pfpor/?utm_medium=email&utm_source=infolettre-deserres&utm_campaign=6mai2017" target="_blank"><img src="http://image.communications.deserres.ca/lib/fe8f13727263037f75/m/2/promo_05_06_03.jpg
							" width="100%" alt="" border="0" style="max-width:100% !important; width:100%; height:auto; display:block;" /></a></td>
						</tr>
						<tr>
							<td style="font-family: open sans, Arial,Verdana; font-size: 18px; line-height:21px; color: #000000; font-weight:bold; padding-bottom:16px;" align="center" valign="top">
							Feutre porcelaine  <br />
							Pébéo 150<br />
							<span style="font-family:  open sans, Arial,Verdana; font-size: 18px; line-height:23px; color: #000000; font-weight:normal;"> </span><span style="font-family:  open sans, Arial,Verdana; font-size: 18px; line-height:21px; color: #ed2128; border-collapse: collapse; font-weight:bold;">5,49 $</span> 
							</td>	
						</tr>
						<tr>
							<td align="center" valign="top"><a href="https://www.deserres.ca/fr/pfpor/?utm_medium=email&utm_source=infolettre-deserres&utm_campaign=6mai2017" target="_blank"><img src="http://image.communications.deserres.ca/lib/fe8f13727263037f75/m/2/achetez_mai_06.jpg" width="150" height="26" alt="Shop Now" border="0" style="display:block; text-decoration: none;" /></a></td>
						</tr>
					</table>
					</td>
				</tr>
			</table>
			<table width="249" border="0" cellspacing="0" cellpadding="0" align="right" class="block">
				<tr>
					<td class="padding_topx">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><a href="https://www.deserres.ca/fr/pebeo-porcelain-mugs-kit-celebration/?utm_medium=email&utm_source=infolettre-deserres&utm_campaign=6mai2017" target="_blank"><img src="http://image.communications.deserres.ca/lib/fe8f13727263037f75/m/2/promo_05_06_04.jpg
							" width="100%" alt="" border="0" style="max-width:100% !important; width:100%; height:auto; display:block;" /></a></td>
						</tr>
						<tr>
							<td style="font-family: open sans, Arial,Verdana; font-size: 18px; line-height:21px; color: #000000; font-weight:bold; padding-bottom:16px;" align="center" valign="top">
							Coffret tasse en porcelaine  <br />
							Célébration<br />
							<span style="font-family:  open sans, Arial,Verdana; font-size: 18px; line-height:21px; color: #ed2128; border-collapse: collapse; font-weight:bold;">17,99 $ </span><span style="font-family:  open sans, Arial,Verdana; font-size: 12px; line-height:23px; color: #000000; font-weight:normal;">(En magasin seulement) </span>
                            </td>						
						</tr>
						<tr>
							<td align="center" valign="top"><a href="https://www.deserres.ca/fr/pebeo-porcelain-mugs-kit-celebration/?utm_medium=email&utm_source=infolettre-deserres&utm_campaign=6mai2017" target="_blank"><img src="http://image.communications.deserres.ca/lib/fe8f13727263037f75/m/2/achetez_mai_06.jpg" width="150" height="26" alt="Shop Now" border="0" style="display:block; text-decoration: none;" /></a></td>
						</tr>
					</table>
					</td>
				</tr>
			</table>
			</td>
			<td width="33" class="sides">&nbsp;</td>
		</tr>
	</table>
	</td>
</tr>
<tr>
	<td height="50">&nbsp;</td>
</tr>

%%[ ELSE SET @Subject = "Crafting family moments"]%%

<!-- Body EN Start ================================================= --> 

<tr>
	<td align="center" style="font-family: Arial,Verdana; font-size: 20px; color: #666;"><a href="https://www.deserres.ca/en/mothers-day?utm_medium=email&utm_source=infolettre-deserres&utm_campaign=6mai2017" target="_blank"><img class="img-responsive deviceWidth" src="http://image.communications.deserres.ca/lib/fe8f13727263037f75/m/2/hero_05_06_01_en.jpg" alt="This Mother’s day, get together to paint a mug with your little ones. It’s all about the experience!" width="100%" border="0" style="text-decoration: none; max-width:100% !important; width:100%; height:auto; display:block;" /></a></td>
</tr>
<tr>
	<td align="left" style="font-family: Arial,Verdana; color: #2d4874; font-size:23px; line-height:34px; text-align:center; font-weight:bold;">This Mother’s day, get together to paint a mug with your little ones. It’s all about the experience!<br />
    </td>
</tr>
<tr>
	<td height="40">&nbsp;</td>
</tr>
<tr>
	<td>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
			<table width="300" border="0" cellspacing="0" cellpadding="0" align="left" class="full">
				<tr>
					<td align="center"><a href="https://www.deserres.ca/en/paint-a-coffee-mug?utm_medium=email&utm_source=infolettre-deserres&utm_campaign=6mai2017" target="_blank"><img src="http://image.communications.deserres.ca/lib/fe8f13727263037f75/m/2/hero_05_06_03.jpg" width="100%" alt="" border="0" style="max-width:100% !important; width:100%; height:auto; display:block;" /></a></td>
				</tr>
			</table>
			<table width="240" border="0" cellspacing="0" cellpadding="0" align="right" class="full">
				<tr>
					<td class="paddings">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td align="center" valign="top" height="25" >&nbsp;
						</tr>
						<tr>
							<td style="font-family: open sans, Arial,Verdana; font-size: 18px; line-height:22px; color: #333333; border-collapse: collapse;" align="center" valign="top">
							Paint your personalized mug and create moments you’ll cherish every morning!<br />
                           <br /><strong>We’ll teach you how:</strong>
						</tr>
						<tr>
							<td height="18" style="font-size:0px; line-height:0px;">&nbsp;
						</tr>
				
						<tr>
							<td height="24">&nbsp;
						</tr>
						<tr>
							<td align="center" valign="top" height="15" style="font-size:0px; line-height:0px;"><a href="https://www.deserres.ca/en/paint-a-coffee-mug?utm_medium=email&utm_source=infolettre-deserres&utm_campaign=6mai2017" target="_blank"><img src="http://image.communications.deserres.ca/lib/fe8f13727263037f75/m/2/step_mai_06.jpg
							" width="236" height="26" alt="Step By Step" border="0" style="display:block;outline: none;text-decoration: none;" /></a>
						</tr>
					</table>
					</td>
				</tr>
			</table>
			</td>
			<td width="34" class="hide">&nbsp;</td>
		</tr>
	</table>
	</td>
</tr>
<tr>
	<td height="50">&nbsp;</td>
</tr>
<tr>
	<td align="left" style="font-family: Arial,Verdana; color: #2d4874; font-size:23px; line-height:34px; text-align:center; font-weight:bold;">What you need to get started:
	</td>
</tr>
<tr>
	<td height="19" style="font-size:0px; line-height:0px;">&nbsp;</td>
</tr>
<tr>
	<td>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="33" class="sides">&nbsp;</td>
			<td>
			<table width="249" border="0" cellspacing="0" cellpadding="0" align="left" class="block">
				<tr>
					<td>
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><a href="https://www.deserres.ca/en/pppor?utm_medium=email&utm_source=infolettre-deserres&utm_campaign=6mai2017" target="_blank"><img src="http://image.communications.deserres.ca/lib/fe8f13727263037f75/m/2/promo_05_06_01.jpg
							" width="100%" alt="" border="0" style="max-width:100% !important; width:100%; height:auto; display:block;" /></a></td>
						</tr>
						<tr>
							<td style="font-family: open sans, Arial,Verdana; font-size: 18px; line-height:21px; color: #000000; font-weight:bold; padding-bottom:16px;" align="center" valign="top">
							Pébéo Porcelain <br />
							150 Paint <br />
							<span style="font-family:  open sans, Arial,Verdana; font-size: 18px; line-height:23px; color: #000000; font-weight:normal;"> </span><span style="font-family:  open sans, Arial,Verdana; font-size: 18px; line-height:21px; color: #ed2128; border-collapse: collapse; font-weight:bold;">$6.79 </span> 
							</td>	
						</tr>
						<tr>
							<td align="center" valign="top"><a href="https://www.deserres.ca/en/pppor?utm_medium=email&utm_source=infolettre-deserres&utm_campaign=6mai2017" target="_blank"><img src="http://image.communications.deserres.ca/lib/fe8f13727263037f75/m/2/buy_mai_06.jpg" width="150" height="26" alt="Shop Now" border="0" style="display:block; text-decoration: none;" /></a></td>
						</tr>
					</table>
					</td>
				</tr>
			</table>
			<table width="249" border="0" cellspacing="0" cellpadding="0" align="right" class="block">
				<tr>
					<td class="padding_topx">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><a href="https://www.deserres.ca/en/green-masking-tape-low-tack-1in?utm_medium=email&utm_source=infolettre-deserres&utm_campaign=6mai2017" target="_blank"><img src="http://image.communications.deserres.ca/lib/fe8f13727263037f75/m/2/promo_05_06_02.jpg" width="100%" alt="" border="0" style="max-width:100% !important; width:100%; height:auto; display:block;" /></a></td>
						</tr>
						<tr>
							<td style="font-family: open sans, Arial,Verdana; font-size: 18px; line-height:21px; color: #000000; font-weight:bold; padding-bottom:16px;" align="center" valign="top">
							Low Tack Green  <br />
                            Masking Tape – 1 inch<br />
							<span style="font-family:  open sans, Arial,Verdana; font-size: 18px; line-height:23px; color: #000000; font-weight:normal;"> </span><span style="font-family:  open sans, Arial,Verdana; font-size: 18px; line-height:21px; color: #ed2128; border-collapse: collapse; font-weight:bold;">$4.99 </span>
                            </td>						
						</tr>
						<tr>
							<td align="center" valign="top"><a href="https://www.deserres.ca/en/green-masking-tape-low-tack-1in?utm_medium=email&utm_source=infolettre-deserres&utm_campaign=6mai2017" target="_blank"><img src="http://image.communications.deserres.ca/lib/fe8f13727263037f75/m/2/buy_mai_06.jpg" width="150" height="26" alt="Shop Now" border="0" style="display:block; text-decoration: none;" /></a></td>
						</tr>
					</table>
					</td>
				</tr>
			</table>
			</td>
			<td width="33" class="sides">&nbsp;</td>
		</tr>
	</table>
	</td>
</tr>

<tr>
	<td height="19" style="font-size:0px; line-height:0px;">&nbsp;</td>
</tr>
<tr>
	<td>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="33" class="sides">&nbsp;</td>
			<td>
			<table width="249" border="0" cellspacing="0" cellpadding="0" align="left" class="block">
				<tr>
					<td>
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><a href="https://www.deserres.ca/en/pfpor?utm_medium=email&utm_source=infolettre-deserres&utm_campaign=6mai2017" target="_blank"><img src="http://image.communications.deserres.ca/lib/fe8f13727263037f75/m/2/promo_05_06_03.jpg" width="100%" alt="" border="0" style="max-width:100% !important; width:100%; height:auto; display:block;" /></a></td>
						</tr>
						<tr>
							<td style="font-family: open sans, Arial,Verdana; font-size: 18px; line-height:21px; color: #000000; font-weight:bold; padding-bottom:16px;" align="center" valign="top">
							Pébéo felt-tip pen  <br />
							for porcelain 150<br />
							<span style="font-family:  open sans, Arial,Verdana; font-size: 18px; line-height:23px; color: #000000; font-weight:normal;"> </span><span style="font-family:  open sans, Arial,Verdana; font-size: 18px; line-height:21px; color: #ed2128; border-collapse: collapse; font-weight:bold;">$5.49 </span> 
							</td>	
						</tr>
						<tr>
							<td align="center" valign="top"><a href="https://www.deserres.ca/en/pfpor?utm_medium=email&utm_source=infolettre-deserres&utm_campaign=6mai2017" target="_blank"><img src="http://image.communications.deserres.ca/lib/fe8f13727263037f75/m/2/buy_mai_06.jpg" width="150" height="26" alt="Shop Now" border="0" style="display:block; text-decoration: none;" /></a></td>
						</tr>
					</table>
					</td>
				</tr>
			</table>
			<table width="249" border="0" cellspacing="0" cellpadding="0" align="right" class="block">
				<tr>
					<td class="padding_topx">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><a href="https://www.deserres.ca/en/pebeo-porcelain-mugs-kit-celebration?utm_medium=email&utm_source=infolettre-deserres&utm_campaign=6mai2017" target="_blank"><img src="http://image.communications.deserres.ca/lib/fe8f13727263037f75/m/2/promo_05_06_04.jpg
							" width="100%" alt="" border="0" style="max-width:100% !important; width:100%; height:auto; display:block;" /></a></td>
						</tr>
						<tr>
							<td style="font-family: open sans, Arial,Verdana; font-size: 18px; line-height:21px; color: #000000; font-weight:bold; padding-bottom:16px;" align="center" valign="top">
							Celebration Mug  <br />
							Project Box<br />
							<span style="font-family:  open sans, Arial,Verdana; font-size: 18px; line-height:21px; color: #ed2128; border-collapse: collapse; font-weight:bold;">$17.99 </span><span style="font-family:  open sans, Arial,Verdana; font-size: 12px; line-height:23px; color: #000000; font-weight:normal;"> (In store only) </span>
                            </td>						
						</tr>
						<tr>
							<td align="center" valign="top"><a href="https://www.deserres.ca/en/pebeo-porcelain-mugs-kit-celebration?utm_medium=email&utm_source=infolettre-deserres&utm_campaign=6mai2017" target="_blank"><img src="http://image.communications.deserres.ca/lib/fe8f13727263037f75/m/2/buy_mai_06.jpg" width="150" height="26" alt="Shop Now" border="0" style="display:block; text-decoration: none;" /></a></td>
						</tr>
					</table>
					</td>
				</tr>
			</table>
			</td>
			<td width="33" class="sides">&nbsp;</td>
		</tr>
	</table>
	</td>
</tr>
<tr>
	<td height="50">&nbsp;</td>
</tr>

%%[ENDIF]%%